{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %} Done {% endblock title %}

{% block header-content %}
    Password Reset Done!
{% endblock header-content %}

{% block header-description %}
    Welcome back continue from where you left off. Your new password has been set.
{% endblock header-description %}


{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="media d-block media-custom text-center">
                    <h1 class="text-center">All Done!</h1>
                    <hr>
                    <div class="media-body">
                        <p>Welcome back continue from where you left off. Your new password has been set. <a href="{% url 'account:login' %}">Click here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
{% endblock %}
