{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %} Change Password {% endblock title %}

{% block header-content %}
    Change Password Page
{% endblock header-content %}

{% block header-description %}
    Please choose carefully as this new password would replace the old one
{% endblock header-description %}


{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="media d-block media-custom text-left">
                    <h1 class="text-center">Change Your Password?</h1>
                    <hr>
                    <div class="media-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" value="change my password" class="btn btn-default">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
{% endblock %}
