{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %} Check Email {% endblock title %}

{% block header-content %}
    Check Your Email Inbox
{% endblock header-content %}

{% block header-description %}
    We just sent you a mail please check your mail box for further instructions...
{% endblock header-description %}


{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="media d-block media-custom text-center">
                    <h1 class="text-center">Check your inbox!</h1>
                    <hr>
                    <div class="media-body">
                        <p>We just sent you a mail please check your mail box for further instructions...</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
{% endblock %}
