{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %} Reset Password {% endblock title %}

{% block header-content %}
    Reset Password Page
{% endblock header-content %}

{% block header-description %}
    Oh no! it happens to the best of us, though! Enter the email address
    thats associated with your account and we'll Send you instruction on
    how you can change your password.
{% endblock header-description %}


{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="media d-block media-custom text-left">
                    <h1 class="text-center">Forgot Your Password?</h1>
                    <hr>
                    <div class="media-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" value="Send me instruction" class="btn btn-default">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
{% endblock %}
