{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Home {% endblock title %}

{% block header-content %}
    Register
{% endblock header-content %}

{% block header-description %}
    The Vibes Virtual Clinic is a membership/one-off based primary care practice on a mission to make getting quality
    care more affordable, accessible, and enjoyable for all through a blend of human-centered design, technology,
    and an exceptional team.
{% endblock header-description %}

{% block content %}

    <section class="section bg-light">
      <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <form class="registerForm" action="{% url 'api-auth:register-api' %}" method="POST"> {% csrf_token %}
          <div class="form-group">
              <label for="appointment_firstname" class="text-black">First Name</label>
              <input type="text" class="form-control" id="first_name" placeholder="First name" required="required">
          </div>

          <div class="form-group">
              <label for="appointment_lastname" class="text-black">Last Name</label>
              <input type="text" class="form-control" id="last_name" placeholder="Last name" required="required">
          </div>

          <div class="form-group">
              <label for="appointment_handle" class="text-black">Handle</label>
              <input type="text" class="form-control" id="username" placeholder="Username" required="required">
          </div>

          <div class="form-group">
              <label for="appointment_phone" class="text-black">Phone</label>
              <input type="text" class="form-control" id="phone" placeholder="Phone: +23480XXXXXXXX" required="required">
          </div>

          <div class="form-group">
              <label for="appointment_email" class="text-black">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" required="required">
          </div>

          <div class="form-group">
              <label for="appointment_password" class="text-black">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Password" required="required">
          </div>

          <div class="form-group">
              <label for="appointment_password_confirm" class="text-black">Confirm Password</label>
              <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Retype password" required="required">
          </div>

          <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="terms" value="agree" required>
                  <label for="agreeTerms">I agree to the <a href="{% url 't_and_c' %}">terms</a></label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" id="registerButton" class="btn btn-primary btn-block">Register</button>
              </div>
              <!-- /.col -->
          </div>
    </form>
                <a href="{% url 'account-url:login' %}" class="text-center">I already have a membership</a>

            </div>
            <div class="col-sm-6">
                <h1 class="lead">
                    The VibesVirtual Clinic is your one touch healthcare provider on a mission to make getting quality care more affordable,
                    accessible and enjoyable for all through an array of our growing team of health professionals
                    and a blend of human-centred design and technology in telemedicine.
                </h1>
            </div>
        </div>
      </div>
    </section>

{% endblock content %}
