{% load static %}

<section class="container home-feature mb-5">
  <div class="row">
    <div class="col-md-4 p-0 one-col element-animate">
      <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
        <span class="icon flaticon-hospital-bed"></span>
        <h2>Patient/Doctor Services</h2>
        <p>
            Video-Online Consultation: the specialist provides recommendations on the available results of examinations and reports after the contact with the patient.
        </p>
      </div>
      <a href="#" class="btn-more">Read More</a>
    </div>
    <div class="col-md-4 p-0 two-col element-animate">
      <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
        <span class="icon flaticon-first-aid-kit"></span>
        <h2>Medical Services</h2>
        <p>
            Written Opinion: doctor's recommendations based on the review of medical documentation sent in advance.
        </p>
      </div>
      <a href="#" class="btn-more">Read More</a>
    </div>
    <div class="col-md-4 p-0 three-col element-animate">
      <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
        <span class="icon flaticon-hospital"></span>
        <h2>Amenities/Recover From Home</h2>
        <p>
            Experience the continuity in care across our Web, Mobile and Bot channels.
            This ensures that you stay updated and connected with us all the time thus giving a consistent and
            uniform healthcare experience across all of our service channels
        </p>
      </div>
      <a href="#" class="btn-more">Read More</a>
    </div>
  </div>
</section>
<!-- END section -->