<div class="row element-animate">
  <div class="col-md-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a></li>
          {% endif %}
        <li class="page-item page-link disabled">page</li>
        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
        <li class="page-item page-link disabled">of</li>
        <li class="page-item"><a class="page-link" href="#">{{ page_obj.paginator.num_pages }}</a></li>
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Next</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>