{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} About The Vibes {% endblock title %}

{% block header-content %}
    About Us
{% endblock header-content %}

{% block header-description %}
    <strong>MISSION</strong>: To provide the best and most affordable health services without the limitations of time, distance and physical presence in clinics.
    To bridge the gap and abolish the obstacle to the achievement of a wholesome health wherever, whenever and to whoever seek it.
    <br>
    <br>
    <strong>VISSION</strong>: To provide the best in digital health care to whoever seek it, wherever and whenever they seek it Every individual deserves quality health care.

{% endblock header-description %}

{% block content %}

    <section class="section bg-light">
      <div class="container">
          <div class="row justify-content-center mb-5 element-animate">
              <div class="col-md-12 mb-5">
                <h2 class="text-uppercase text-center heading border-bottom mb-4">More About Us</h2>
                <p class="mb-0 lead">
                The VIBES VIRTUAL HEALTH-CARE SERVICES (The Vibes Virtual Clinic) is a Tele-health services domiciled in Lagos, Nigeria.
                The purpose of the company is to establish the new virtual healthcare practice serving both children and adults across
                the country who have broadband access to digital technology devices. The Vibes Clinic is a practice devoted to a
                comprehensive professional health-care; it is a form of primary care that provides primary and continuing health-care
                from birth to old age.  General health promotion, disease prevention, health maintenance, counseling, patient education,
                diagnosis and treatment of acute and chronic illnesses on a remote and virtual basis including long-term care and
                follow up of patients. The Vibes Clinic will be the first point of contact for families seeking health-care for
                themselves and their dependants. The Vibes Clinic expects to catch the interest of a regular loyal customer base with
                its broad variety of online clinic services. It is set to change the traditional health-care model of patients visiting
                hospitals physically for treatment. The Vibes Clinic offers specialist care and monitoring to patients from remote
                locations. She will refer patients needing hospital admissions, when appropriate, to physical specialists and/or to
                hospitals for further tests, treatment and therapy. She may also render remote services to in-patients in conjunction
                with a known facility.<br/>
                <br>
                The Vibes Virtual Health Care Services is provided by a team of experts and specialist Physicians, Paediatricians,
                Family Medicine experts, Dental experts, Optometrists, Nutritionists and Dietitians backed by a robust technical support
                team and staff members.
                </p>

              </div>
          </div>
        <div class="row">
            <section class="section bg-light custom-tabs">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 border-right element-animate" data-animate-effect="fadeInLeft">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span>01</span> Paediatric Services</a>
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span>02</span> Adolescent/Young Adult Friendly Services</a>
                      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span>03</span> Adult Health Services</a>
                      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span>04</span> More</a>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-7 element-animate" data-animate-effect="fadeInLeft">

                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <span class="icon flaticon-hospital"></span>
                        <h2 class="text-primary">Paediatric Services</h2>
                        <p class="lead">The needs of children, from allergies, respiratory, dermatological, gastrointestinal, nutritional and pharmacological services are met. We attend to children from 0-18 years.
                            Hospitals in remote places without Paediatricians can call for separate virtual assistance with their in-patients</p>
                      </div>
                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <span class="icon flaticon-first-aid-kit"></span>
                        <h3 class="text-primary">Adolescent/Young Adult Friendly Services</h3>
                        <p class="lead">This is a room where everything from physical,
                            psychological and sexual issues can be talked about with your health practitioner without feeling the pressure
                            or eyes of the society. Your consultations are strictly confidential.
                            Teens health education classes are also available on specific days.
                            Come and ask all the questions bothering you in an enabling and non-judgemental environment.
                        </p>
                      </div>
                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <span class="icon flaticon-hospital-bed"></span>
                        <h3 class="text-primary">Adult Health Services</h3>
                        <p> Primary care are offered for the common adult and geriatric health conditions.
                            You can enjoy Health advice and specialist consultations on:<br>
                            Cardiology (such as chronic hypertension and Diabetes managements)<br>
                            Dermatology (skin diseases)<br>
                            Dentistry (Oral health)<br>
                            Eye Care<br>
                            Gastrointestinal<br>
                            General Medicine<br>
                            Gynaecology and Women’s health<br>
                            Haematology (blood infections and disorders)<br>
                            Oncology (Cancer)<br>
                            Sexual Health<br>
                            Urology and Men’s health<br>
                        </p>
                      </div>
                      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <span class="icon flaticon-doctor"></span>
                        <h3 class="text-primary">More</h3>
                        <p class="lead">Travel health, Nutritional counselling and Meal planning, Annual health checks, Wellness and Fitness services, First Aid Training services, etc...<br>
                        Online group clinics is offered for health education of our patients on common prevailing diseases, their managements and preventions. There is opportunity to ask all your questions or book for a one-on-one appointment with specialists.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
    <!-- END section -->

        </div><!-- row -->
      </div>

    </section>

{% endblock %}