{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} About The Vibes {% endblock title %}

{% block header-content %}
    About Us
{% endblock header-content %}

{% block header-description %}
    Insight's On The Vibes Virtual Clinic
{% endblock header-description %}

{% block content %}

    <section class="section bg-light">
      <div class="container">
        <div class="row">

            <p class="text-center">

                The VIBES VIRTUAL HEALTHCARE SERVICES (The Vibes Virtual Clinic) is a Tele-health services domiciled in Lagos, Nigeria.
                The purpose of the company is to establish the new virtual healthcare practice serving both children and adults across
                the country who have broadband access to digital technology devices. The Vibes Clinic is a practice devoted to a
                comprehensive professional healthcare; it is a form of primary care that provides primary and continuing healthcare
                from birth to old age.  General health promotion, disease prevention, health maintenance, counseling, patient education,
                diagnosis and treatment of acute and chronic illnesses on a remote and virtual basis including long-term care and
                follow up of patients. The Vibes Clinic will be the first point of contact for families seeking healthcare for
                themselves and their dependants. The Vibes Clinic expects to catch the interest of a regular loyal customer base with
                its broad variety of online clinic services. It is set to change the traditional healthcare model of patients visiting
                hospitals physically for treatment. The Vibes Clinic offers specialist care and monitoring to patients from remote
                locations. She will refer patients needing hospital admissions, when appropriate, to physical specialists and/or to
                hospitals for further tests, treatment and therapy. She may also render remote services to in-patients in conjunction
                with a known facility.<br/>

                The Vibes Virtual Health Care Services is provided by a team of experts and specialist Physicians, Paediatricians,
                Family Medicine experts, Dental experts, Optometrists, Nutritionists and Dieticians backed by a robust technical support
                team and staff members.

                Some of the Services we offer include:
                Adolescent Care<br/>
                Asthma care<br/>
                Behavioral Health<br/>
                Chronic Disease Management<br/>
                Hypertension<br/>
                Diabetes<br/>
                Geriatrics<br/>
                Men’s Health<br/>
                Preventive Health<br/>
                Women’s Health<br/>
                Travel immunization guides and support
            </p>

        </div><!-- row -->
      </div>

    </section>

{% endblock %}