{% extends "base.html" %}
{% block title %}specialties{% endblock %}


{% block header-content %}
    {{speciality_category.name}}
{% endblock header-content %}

{% block header-description %}
    {{ speciality_category.description }}
{% endblock header-description %}


{% block content %}
    <section class="section bg-light">
      <div class="container">
        <div class="row">
        {% for speciality in specialities %}
          <div class="col-md-3 element-animate">
            <div class="media d-block media-custom text-center">
              <img src="{{ speciality.check_image_url }}" alt="{{ speciality.name }}" class="img-fluid">
              <div class="media-body text-center">
                  {% if request.user.is_authenticated %}
                    <h3 class="mt-0 text-black">₦{{ speciality.price }}</h3>
                  {% else %}
                      <h3>Please <a href="{% url 'account-url:login' %}">login</a> to access this service</h3>
                  {% endif %}
                <p>{{ speciality.name }}</p>
               {% if request.user.is_authenticated %}
                <p>
                    {% if speciality.is_on_promo %}
                        <form method="post" action="{% url 'doctors:promo_notification' speciality.speciality_category.slug speciality.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ speciality.name }}">
                            <button class="btn btn-primary btn-sm" type="submit">click to start consultation</button>
                        </form>
                    {% else %}
                        <!-- The below button is for payments please dont delete... -->
                        <form>
                          <script src="https://js.paystack.co/v1/inline.js"></script>
                          <button class="btn btn-primary btn-sm" type="button" onclick="payWithPaystack()">Make Payment For Consultation</button>
                        </form>
                        <script>
                          function payWithPaystack(){
                            {% include 'includes/ajax_csrf_token.js' %}
                            let fee = parseInt({{ speciality.price|safe }});
                            let finalFee = 100 * fee;
                            var handler = PaystackPop.setup({
                              key: "{{ key|safe }}",
                              email: '{{ request.user.email|safe }}',
                              amount: finalFee,
                              ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                              metadata: {
                                 custom_fields: [
                                    {
                                        display_name: "{{ request.user|safe }}",
                                        variable_name: "{{ request.user|safe }}",
                                        value: "+2348160527819"
                                    }
                                 ]
                              },
                              callback: function(response){
                                  alert('success. transaction ref is ' + response.reference + '/n please copy this Reference number to a safe place /n and contact our agent using the Reference number as Evidence of payment');
                                  if(response.status === "success") {
                                      $.ajax({
                                          url: "{% url 'doctors:speciality_category_detail' slug=speciality_category.slug %}",
                                          method: "post",
                                          data: {
                                              "reference_id": response.reference,
                                              "paid_user": "{{ request.user }}",
                                              "speciality_name": "{{ speciality.name }}",
                                              "status": response.status,
                                          },
                                          contentType: "application/x-www-form-urlencoded",
                                          success: function (data) {
                                              console.log(data);

                                          }
                                      });
                                  }
                                  else  {
                                      alert("Transaction was not completed", "window closed.", response.status);
                                  }
                              },
                              onClose: function(){
                                  alert('window closed');
                              }
                            });
                            handler.openIframe();
                          }
                        </script>
                    {% endif %}
                </p>
              {% endif %}
              </div>
            </div>
          </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>

        <div class="row mb-5">
        {% endif %}
        {% empty %}
                <div class="row justify-content-center mb-3 element-animate">
                  <div class="col-md-8 text-center mb-3">
                    <h2 class="text-uppercase heading border-bottom mb-4">{{speciality_category.name}}</h2>
                    <p class="mb-0 lead">Currently we have no services for {{speciality_category.name}}</p>
                  </div>
                </div>
        {% endfor %}
        </div>

      </div>
    </section>
{% endblock %}