{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Home {% endblock title %}

{% block header-content %}
    Our Offers
{% endblock header-content %}

{% block header-description %}
    Our service offerings, please select and proceed with the most concerned
{% endblock header-description %}

{% block content %}

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 element-animate">
            <div class="media d-block media-feature text-center mb-5">
              <img src="https://cdn.thevibesclinic.com/vvc/img/002-hospital.png" class="img-responsive" width="60px" height="60px">
              <br/>
              <div class="media-body">
                <h3 class="mt-0 text-black">Virtual Consultation</h3>
                <p>Virtual Medical Meeting, Speak With A Live Doctor And Get Insights On Your Medical Needs</p>
                <p><a href="#" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="{% if request.user.is_authenticated %}#modalAppointmentRoom{% else %}#modalAppointment{% endif %}">Request A Meet</a></p>
              </div>
            </div>
          </div>
          <!--<div class="col-md-3 element-animate">
            <div class="media d-block media-feature text-center mb-5">
              <img src="https://cdn.thevibesclinic.com/vvc/img/001-first-aid-kit.png" class="img-responsive" width="60px" height="60px">
              <br/>
              <div class="media-body">
                <h3 class="mt-0 text-black">Medical Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 element-animate">
            <div class="media d-block media-feature text-center mb-5">
              <span class="icon flaticon-hospital-bed"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">Patient Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3 element-animate">
            <div class="media d-block media-feature text-center mb-5">
              <span class="icon flaticon-doctor"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">Expert Doctors</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-secondary btn-sm">Learn More</a></p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- END section -->

{% endblock content %}
